<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{pageTitle}}</title>
        <meta name="title" content="{{pageTitle}}">
        <meta name="description" content="{{pageDescription}}">
        <meta name="keywords" content="{{pageKeyword}}">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="Subrata Ghosh">
        <link rel="canonical" href="https://neherald.com/" />




        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="shortcut icon" href="/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Facebook Media Card -->
        <meta property="og:locale" content="en_us" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{pageTitle}}" />
        <meta property="og:description" content="{{pageDescription}}" />
        <meta property="og:url" content="{{pageUrl}}" />
        <meta property="og:image" content="{{imageCard}}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="900">
        <meta property="og:site_name" content="{{pageTitle}}" />
        <meta property="og:image:alt" content="{{pageTitle}}" />
        
        <!-- Twitter Card -->
        <meta name="twitter:image" content="{{imageCard}}">
        <meta name="twitter:description" content="{{pageDescription}}">
        <meta name="twitter:url" content="{{pageUrl}}" />
        <meta name="twitter:title" content="{{pageTitle}}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="" />
        <meta name="twitter:creator" content="" />
        <meta name="twitter:image:alt" content="{{pageTitle}}" />
        <meta property="fb:pages" content="103529045681976" />




        <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css" />
        <link rel="stylesheet" href="/vendors/aos/aos.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/custom.css">
        <link href='https://fonts.googleapis.com/css?family=Droid Serif' rel='stylesheet'>


        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8XR0NQ5BZS"></script>
        <script> window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8XR0NQ5BZS');
        </script>



    </head>

    <body>
        <div class="container-scroller">
            <div class="main-panel">
            {{>header}} 
                        {{>breaking}}

                <div class="content-wrapper">
                    {{{body}}}
            </div>
            {{>footer}}    
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <script src="/vendors/aos/aos.js"></script>
        <script src="/javascripts/demo.js"></script>
        <script src="/javascripts/weather.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/node-marquee/dist/cdn/index.min.js"></script>
    
    </body>
</html>