<div class="container">


  <div class="row" data-aos="fade-up">
    <div class="col-xl-8 stretch-card grid-margin">
      {{#each topheadlines}}
      <div class="position-relative" onclick="window.location.href = '/topnews/headlines/tripura'">
        <img src="{{post_image}}" alt="{{post_name}}" class="img-fluid" style="opacity: 0.6;" />
          <div class="position-absolute bottom-0 text-light w-100"
            style="background-color: rgba(0, 0, 0, 0.5)">
            <h1 style="color:red;font-weight:700;">Top News</h1>
            <h2 class="mb-2" style="color:white">
              {{post_name}}
            </h2>
          </div>
        {{!-- <div class="banner-content">
          <div class="overlay">
          <!--  <div class="badge badge-danger fs-12 font-weight-bold mb-3">
              Top News
            </div>-->
            <h1 class="mb-0"></h1>
            <h1 class="mb-2" style="background:gray;">
              {{post_name}}
            </h1>
            <div class="fs-12">
              <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif';font-size:14px;background:red;">{{post_category}}</span>
            </div>
          </div>
        </div> --}}
      </div>
      {{/each}}
    </div>

     <div class="col-xl-4 stretch-card grid-margin">
      <div class="card bg-dark text-white">
        <div class="card-body">
              <h2>Latest news</h2>
{{#each latestnews}}
                      <a href="/{{post_category}}/{{post_url}}" class="text-dark">
                        <div class="row border-bottom" style="padding-top:10px;">
                          <div class="col-3" style="
    padding-right: 10px;
    width:35%;
">
                            <img src="{{post_image}}" class="img-fluid shadow-1-strong rounded latest-news-home" alt="Los Angeles Skyscrapers" style="width: 100%;" />
                          </div>

                          <div class="col-9" style="
    padding: 0px;
    margin: 0px;
    width:65%;
">
                            <h5 class="pe-3 news-a cursor-pointer" style="color: white;font-family:'Droid Serif'">{{substr "40" post_name}}</h5>
                              <p style="color: white;margin-top:-8px;">{{substr "25" update_date}}</p>
                            </p>
                          </div>
                        </div>
                      </a>
                      {{/each}}
          
        </div>
      </div>
    </div> 

  </div>



  <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" style="" onclick="window.location.href = '/tripura'">
            Tripura News (View All)
          </div>
          {{#each tripuranews}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">Tripura News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{substr "150" meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>




  {{!-- National News --}}
    <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" style="" onclick="window.location.href = '/national'">
            National News (View All)
          </div>
          {{#each nationalnews}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">{{post_category}} News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{substr "150" meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{!-- End of National News --}}











<div class="row" data-aos="fade-up">
    <div class="col-sm-12 grid-margin">
        <div class="card">
        <div class="card-body">
          <div class="card-title" style="">
            Daily News Photo Album
          </div>

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
          <div class="carousel-inner">
            {{#each gallery}}
            <div class="carousel-item active" onclick="window.location.href = '/photo/neh/gallery/{{gallery_url}}'">
              <img src="https://northeastherald.sfo3.digitaloceanspaces.com/{{this.gallery_path.[0]}}" alt="..." style="width:100%; height: 500px;">
                <div class="carousel-caption d-none d-md-block" style="background-color: gray;">
                  <h2 style="">{{gallery_title}}</h2>
                </div>
            </div>
            {{/each}}
            {{#each skipGallery}}
            <div class="carousel-item" onclick="window.location.href = '/photo/neh/gallery/{{gallery_url}}'">
              <img src="https://northeastherald.sfo3.digitaloceanspaces.com/{{this.gallery_path.[0]}}" alt="..." style="width:100%;height: 500px;">
              <div class="carousel-caption d-none d-md-block" style="background-color: gray;">
                <h2 style="">{{gallery_title}}</h2>
              </div>
            </div>
            {{/each}}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





    </div>
  </div>
  </div>
  </div>



    {{!-- National News --}}
    <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/sports'">
            Sports News (View All)
          </div>
          {{#each sportnews}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">{{post_category}} News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>
  {{!-- End of National News --}}




  <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/health'" style="">
            Spot Lights (View All)
          </div>
          {{#each spotlight}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">{{post_category}} News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>


  <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/world'" style="">
            International News (View All)
          </div>
          {{#each globalnews}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">{{post_category}} News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>



    <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/finance'" style="">
            Finance (View All)
          </div>
          {{#each finance}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">{{post_category}} News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>


  <div class="row" data-aos="fade-up">
    <div class="col-lg-9 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title cursor-pointer" onclick="window.location.href = '/showbiz'" style="">
            Entertainment (View All)
          </div>
          {{#each entertainment}}
          <div class="row cursor-pointer" onclick="window.location.href = '/{{post_category}}/{{post_url}}'">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img src="{{post_image}}" alt="thumb" class="img-fluid" />
                </div>
                <div class="badge-positioned">
                  <span class="badge badge-danger font-weight-bold">{{post_category}} News</span>
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h2 class="mb-2 font-weight-600" style="">
                {{post_name}}
              </h2>
              <div class="fs-13 mb-2">
                <span class="me-2" style="text-transform: capitalize;font-family:'Droid Serif'">{{post_category}}</span>{{update_date}}
              </div>
              <p class="mb-0 a-black">
                {{{meta_description}}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-3 stretch-card grid-margin">
      <div class="card">
        <div class="card-body advertisements">
          <img alt="ads" src="https://dummyimage.com/300x300/c2c0c2/2e2e33.jpg&text=ads+go+here" />
        </div>
      </div>
    </div>
  </div>






    {{!-- End of container --}}
    </div>